
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: rgb(61, 255, 61);
  line-height:1.6;
  margin: 2rem;
  box-sizing: border-box;
      margin: 4rem;
}

main{
    box-sizing: border-box;
    position: relative;

    
}
section{
  margin: 10%;
}
.search-bar {
  height: 30px;
  background: #111;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.btn {
  background: hwb(120 24% 0%);
  color: #000;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.4rem;
}


.hero-text {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
   color:  hwb(120 24% 0%);
  
}

.hero p {
  font-weight: regular;
  color:  hwb(120 24% 0%);
   background-color: #000000;
  
}

.sezionedue div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
.sezionedue img, .sezionetre img{
width: 620px;
height: 100%;
  max-width: 100%;
object-fit: cover;
}

.sezionetre{
 display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.footer {
  border-top: 1px solid hwb(120 24% 0%);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
}

@media(max-width: 768px) {

  .nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  p {
    font-size: 10px;
  }

  .hero h1 {
    font-size: 1.6rem;
  }
  }